# Ignorar arquivos executáveis (arquivos sem extensão no Linux)
# Como o Git não sabe o que é um executável, ignoramos o nome específico 
# ou usamos padrões:
terreno
idades
soma

# Ignorar todos os arquivos de saída de compilação
*.o
*.out
*.exe

# Ignorar pastas de configuração do VS Code
.vscode/

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db
